<div class="content grid-item">
    <h3 style="margin:0"><u>About</u></h3>
    <p>
        This page was created using pure HTML and CSS, with a bit of JavaScript.
        You are free and welcome to copy or use any part of the webpage.
    </p>
</div>