<div class="content grid-item">
    <h3 style="margin:0"><u>About</u></h3>
    <p>
        Here you will find various math, computer science, and programming focused 
        tools and calculators, as well as other useful resources.
    <br>
        The frontend for this website was created using pure HTML, CSS, and Javascript.
        You are free and welcome to copy any portion of the website.
    </p>
</div>