<div class="content grid-item">
    <h3 style="margin:0"><u>About</u></h3>
    <p>
        The frontend for this website was created using pure HTML, CSS, and Javascript.
        You are free and welcome to copy any portion of the website.
    </p>
</div>