<h3 style="margin:0;"><u>Welcome to count.tools!!! </u></h3>
<p>
Here you will find various math, computer science, and programming focused 
tools and calculators, as well as other useful resources.
</p>