<h3 style="margin:0;"><u>Welcome to count.tools!!! </u></h3>
<p>
Here you will find various math, computer science, and programming focused 
tools and calculators, as well as other useful resources.
</p>

<div style="background-color: ghostwhite; border-color: gainsboro;" class="form-block">
	<h3 id="count" style="text-align:center">0</h3>
	<input type="button" value="Count!" onclick=count()></input>
</div>
<script src="~/js/count.js"></script>