<div class="content grid-item">
    <h3 style="margin: 0px"><u>Useful references</u></h3>
    <h4 style="margin-bottom: 0px;">Programming:</h4>
    <ul class="block">
        <li><a href="https://en.cppreference.com/w/">https://en.cppreference.com/w/</a></li>
    </ul>
    <h4>Fun:</h4>
    <ul class="block">
        <li><a href="https://www.cleardarksky.com/">https://www.cleardarksky.com/</a></li>
    </ul>
</div>