<div class="content grid-item">
    <h3 style="margin:0;"><u>Merch</u></h3>
    <p>Coming soon?</p>
    <figure>
        <img height=300px width=400px src="assets/shirt2.png"/>
        <figcaption><b>"count.tools Fan" t-shirt (black):</b> <i>$25</i></figcaption>
    </figure>
    <br>
    <figure>
        <img height=300px width=340px src="assets/shirt1.png"/>
        <figcaption><b>"count.tools Fan" t-shirt (white):</b> <i>$25</i></figcaption>
    </figure>
</div>