<div class="content grid-item">
    <h3 style="margin:0; "><u>Interesting Kattis problems</u></h3>
    <ul class="block">
        <li><a href="~/kattis/problem/1">Prime sieve</a></li>
    </ul>
</div>