@model numbers.Models.ProblemPost

<div class="content grid-item">
    <h3 style="margin:0; "><u>@Model.title</u></h3>
    <p>@Model.problem</p>
    <p>@Model.solution</p>
    <p>@Model.code</p>
</div>