<div class="content grid-item">
    <h3 style="margin:0;"><u>Heap's Algorithm</u></h3>
    <div class="form-block" style="background-color:  #fadbd8; border-color: red;">
        <b>Heap's Algorithm for array of length <i>n</i></b>
        <form class="table-form" action="/util/factorial" method="get">
            <div style="display: table-row;">
                <label for = "number">Enter integer: </label>
                <input id = "number-field" class="small-number-input" name="input" placeholder="">
            </div>
            <div style="display: table-row;">
                <label style="vertical-align:text-top">Result:</label>
                <textarea style="width: 258px; height: 208px; resize:none" data-role="none" readonly="readonly"></textarea>
            </div>
            <div>
                <input type="submit" value="Calculate"/>
            </div>
        </form>
    </div>
</div>