<div class="content grid-item">
    <h3 style="margin:0;"><u>Permutations</u></h3>
    <div class="form-block" style="background-color:rgb(210 255 210); border-color:limegreen;">
        <b>List all permutations of <i>n</i> items</b>
        <form class="table-form" action="/util/permutation" method="get">
            <div style="display: table-row;">
                <label for = "number">Enter integer: </label>
                <input id = "number-field" class="small-number-input" name="input" placeholder="@Model.input">
            </div>
            <div style="display: table-row;">
                <label style="vertical-align:text-top">Result:</label>
                <textarea style="width: 258px; height: 208px; resize:none" data-role="none" readonly="readonly">@Html.Raw(Model.result)</textarea>
            </div>
            <div>
                <input type="submit" value="Calculate"/>
            </div>
        </form>
    </div>
</div>