<div class="content grid-item">
    <h3 style="margin:0;"><u>Primality test</u></h3>
    <div class="form-block" style="background-color:rgb(210 255 210); border-color:limegreen;">
        <b>Test a positive integer to see if it is prime</b>
        <form class="table-form">
            <div style="display: table-row;">
                <label for = "number">Enter integer: </label>
                <input id="number-field" class="small-number-input" name="number"></input>
            </div>
            <div style="display: table-row;">
                <label for = "result">Result:</label>
                <input id="result-field" class="small-number-input" disabled="disabled" name="result"></input>
            </div>
        </form>
        <button onclick="retrievePrime()">Test</button>
    </div>
</div>