<div class="content grid-item">
    <div class="multiple-forms">
        <h3 style="margin:0; "><u>Regex to English</u></h3>
        <span>Under construction!!!</span>
        <div class="form-block" style="background-color: lemonchiffon; border-color: orange;">
            <b>Translate a Regex expression to English</b>
            <form class="table-form">
                <div style="display: table-row;">
                    <label for = "regex-input">Expression: </label>
                    <input id="regex-input" class="small-number-input" name="input" placeholder="Enter expression here">
                </div>
                <div>
                    <input type="button" onclick="Translate()" value="Translate"/>
                </div>
            </form>
        </div>
        <div class="form-block" style="background-color: lemonchiffon; border-color: orange;">
            <b>Syntax</b>
            <form>
                <div style="display: table-row;">
                    <label for="eposix">POSIX ext:</label>
                    <input class="packed-check-input" id="eposix" name="regex-syntax" type="radio" checked="checked">
                    <label for="posix">POSIX:</label>
                    <input class="packed-check-input" id="posix" name="regex-syntax" type="radio">
                    <label for="pcre">PCRE:</label>
                    <input class="packed-check-input" id="pcre" name="regex-syntax" type="radio">
                </div>
            </form>
        </div>
        <div class="form-block" style="background-color: lemonchiffon; border-color: orange;">
            <b>Result</b>
            <!--
            <textarea id="translated-result" style="height: 250px; resize:none" data-role="none" readonly="readonly"></textarea>
            -->
            <div id="displaybox">

            </div>
        </div>
    </div>
    <script src="~/js/displaybox.js"></script>
    <script src="~/js/regex.js"></script>
</div>