html
{
    background-color:whitesmoke;
    font-family: sans-serif;
    color: #141414;
}

.container
{
    display: flex;
    flex-direction: column;
    grid-gap:10px;
}

.header
{
    height: 55px;
    background-color:lightsteelblue;

    border-style:outset; 
    border-color:lightblue;
    border-width: 4px;
   
    padding-left: 10px;

    display: flex;
    align-items: center;
}

.header h1
{
    padding-left: 15px;
}

.main
{
    display: flex;
}

.sidebar
{
    height:87vh;
    width:225px;


    display: flex;
    flex-direction: column;
    text-align: center;

    background-color:lavender;

    border-style:solid; 
    border-color:lightsteelblue;
}

.sidebar-link
{
    padding-bottom:2px;
    text-align: left;
}

.sidebar-header
{
    text-align: left; 
    padding-left: 10px; 
    padding-top: 10px;
}

.content
{
    align-items: center;
    padding-left: 15px;
}